{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bundesliga checker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: #e8e8e8">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'images/logo.jpg' %}" alt="" width="100">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'current matches' %}">Current matches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'all matches' %}">All matches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'all teams' %}">Teams</a>
            </li>
        </ul>
    </div>
</nav>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>


<div class="container">
    <br>
    {% block content %}
    {% endblock %}
    <br>
</div>


<footer class="text-center text-lg-start bg-light text-muted">

    <div class="container text-center text-md-start mt-5" style="padding-top: 5px">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                    Bundesliga Checker
                </h6>
                <p>
                    This website is meant to display various data about Bundesliga games.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                    Links
                </h6>
                <p>
                    <a href="{% url 'current matches' %}" class="text-reset">Current matches</a>
                </p>
                <p>
                    <a href="{% url 'all matches' %}" class="text-reset">All matches</a>
                </p>
                <p>
                    <a href="{% url 'all teams' %}" class="text-reset">All teams</a>
                </p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                    Contacts
                </h6>
                <p>
                    MEvtimov196@gmail.com
                </p>
                <p>
                    <a href="https://github.com/m-evtimov96" class="text-reset">https://github.com/m-evtimov96</a>
                </p>
            </div>
        </div>
    </div>

    <div class="text-center p-2" style="background-color: #e8e8e8;">
        @ MEvtimov 2022
    </div>
</footer>


</body>
</html>